name: CI
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
  merge_group:

jobs:
  test:
    timeout-minutes: 40
    strategy:
      fail-fast: false
      matrix:
        os   :    [ubuntu-latest]
        java :    [11, 21]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: "${{matrix.java}}"
          distribution: adopt
      - uses: sbt/setup-sbt@v1
      - run: sbt validate testTimesWriteGitHubStepSummary
