name: CI
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
  merge_group:

jobs:
  test:
    timeout-minutes: 40
    strategy:
      fail-fast: false
      matrix:
        java: [11, 25]
        scala: ["2_13", "3"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: "${{matrix.java}}"
          distribution: zulu
      - uses: sbt/setup-sbt@v1
      - run: sbt -v -J-Xss8m
             -Dsbt.traces=true
             "all scalafmtCheckAll scalafmtSbtCheck scalafixConfigRuleNamesSortCheck validate${{ matrix.scala }}"
             "testScala${{ matrix.scala }}"
             testTimesWriteGitHubStepSummary
      - uses: xuwei-k/sbt-trace-action@v1
