name: CI
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
  merge_group:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os   :    [ubuntu-latest]
        scala:    [2.13.x]
        platform: [jvm, js]
        java :    [11, 21]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: coursier/setup-action@v1
        with:
          jvm: "temurin:${{ matrix.java }}"
          apps: sbt

      - name: Cache
        uses: coursier/cache-action@v6

      - name: Test JVM
        if: matrix.platform == 'jvm'
        run: sbt ++${{ matrix.scala }} validateJVM

      - name: Test JS
        if: matrix.platform == 'js'
        run: sbt ++${{ matrix.scala }} validateJS
