on:
  schedule:
  - cron: '0 2 * * *'
  workflow_dispatch:
jobs:
  scala-steward:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    if: ${{ github.repository_owner == 'kantan-scala' }}
    steps:
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 11
      - uses: actions/create-github-app-token@a8d616148505b5069dccd32f177bb87d7f39123b # v2.1.1
        id: app-token
        with:
          app-id: 1565841
          private-key: ${{ secrets.KANTAN_BOT_KEY }}
      - uses: scala-steward-org/scala-steward-action@53d486a68877f4a6d1e110e8058fe21e593db356 # v2.77.0
        with:
          github-token: ${{ steps.app-token.outputs.token }}
          author-email: "220091877+kantan-bot[bot]@users.noreply.github.com"
          author-name: "kantan-bot[bot]"
        env:
          JAVA_OPTS: "-Xmx8G"
