on:
  schedule:
  - cron: '0 2 * * *'
  workflow_dispatch:
jobs:
  scala-steward:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    if: ${{ github.repository_owner == 'kantan-scala' }}
    steps:
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 11
      - uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        id: app-token
        with:
          app-id: 1565841
          private-key: ${{ secrets.KANTAN_BOT_KEY }}
      - uses: scala-steward-org/scala-steward-action@f60ccd18bc9d8083e6809d9dc3db4a69a71d856c # v2.78.0
        with:
          github-token: ${{ steps.app-token.outputs.token }}
          author-email: "220091877+kantan-bot[bot]@users.noreply.github.com"
          author-name: "kantan-bot[bot]"
        env:
          JAVA_OPTS: "-Xmx8G"
