on:
  schedule:
  - cron: '0 2 * * *'
  workflow_dispatch:
jobs:
  scala-steward:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    if: ${{ github.repository_owner == 'kantan-scala' }}
    steps:
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 11
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: 1565841
          private-key: ${{ secrets.KANTAN_BOT_KEY }}
      - uses: scala-steward-org/scala-steward-action@5bbb0a3f32b42774f8ba1ed18c29db5d915d2200 # v2.80.0
        with:
          github-token: ${{ steps.app-token.outputs.token }}
          author-email: "220091877+kantan-bot[bot]@users.noreply.github.com"
          author-name: "kantan-bot[bot]"
        env:
          JAVA_OPTS: "-Xmx8G"
